<footer>
    <section class="footerBtn">
        <button><i class="fa-solid fa-arrow-up"></i></button>
    </section>
    <section class="footerMain">
        <div class="footerMainLogo">
            <img src="https://res.cloudinary.com/dn30aabyv/image/upload/v1666377359/images/logo_sqgdsa.png" alt="">
            <p>Right Angle studio is specialized in creating and modeling etc etc etc etc. and some more text and then some more?</p>
            <div>
                <i class="fa-brands fa-square-twitter"></i></i>
                <i class="fa-brands fa-linkedin"></i>
                <i class="fa-brands fa-square-behance"></i>
                <i class="fa-brands fa-square-instagram"></i>
            </div>
        </div>

        <div class="footerMainServices">
            <span>Services</span>
            <a href="">Architectural Rendering</a>
            <a href="">Virtual 360 Tours</a>
            <a href="">Product Rendering</a>
            <a href="">Design</a>
            <a href="">See all</a>
        </div>

        <div class="footerMainOther">
            <span>Other</span>
            <a href="">Projects</a>
            <a href="">About Us</a>
            <a href="">Get in touch</a>
        </div>

        <div class="footerMainFeatured">
            <span>Featured</span>
            <div>
                <img src="https://res.cloudinary.com/dn30aabyv/image/upload/v1668136112/wjc7jzesbl5uq9vkpquh.jpg" alt="">
                <p>Modern House, Bilbao<i class="fa-solid fa-arrow-right hidden"></i></p>
                <p>This elite beach house located on the coast of sunny Bilbao (Spain).</p>
            </div>
            <div>
                <img src="https://res.cloudinary.com/dn30aabyv/image/upload/v1668136112/wjc7jzesbl5uq9vkpquh.jpg" alt="">
                <p>Elegant Penthouse, NY<i class="fa-solid fa-arrow-right hidden"></i></p>
                <p>Luxurious 4-bedroom penthouse in one of the new NYC skyscrappers.</p>
            </div>
        </div>

    </section>
    <section class="footerInfo">
        <div>
            <p>@ 2021 Right Angle Studio, all rights reserved.</p>
        </div>
            <ol class="footerOl">
                <li class="footerOlBorder">Legal terms</li>
                <li class="footerOlBorder">Terms of service</li>
                <li>Privacy policy</li>
            </ol>
        <div>

        </div>
            <p>123,133,666 virtual square feet rendered<img src="https://res.cloudinary.com/dn30aabyv/image/upload/v1666377360/images/only-logo_bcywrz.png" alt=""></p>
        <div>

        </div>
    </section>
</footer>

<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
<script src="/js/main.js"></script>
</body>
</html>