        <footer>
            <section class="footerBtn">
                <button class="back-to-top hidden"><i class="fa-solid fa-arrow-up"></i></button>
            </section>
            <section class="footerMain">
                <div class="footerMainLogo">
                    <img src="https://res.cloudinary.com/dn30aabyv/image/upload/v1668728513/logo_qiouhc.png" alt="">
                    <p>Right Angle studio is specialized in creating and modeling etc etc etc etc. and some more text and then some more?</p>
                    <div class="footerIcons">
                        <a href=""><i class="fa-brands fa-square-twitter"></i></a>
                        <a href=""><i class="fa-brands fa-linkedin"></i></a>
                        <a href=""><i class="fa-brands fa-square-behance"></i></a>
                        <a href=""><i class="fa-brands fa-square-instagram"></i></a>
                        <a href=""><i class="fa-brands fa-square-facebook"></i></a>
                    </div>
                </div>
            
                <div class="footerMainServices">
                    <span>Services</span>
                    <a href="">Architectural Rendering</a>
                    <a href="">Virtual 360 Tours</a>
                    <a href="">Product Rendering</a>
                    <a href="" class="footerHovers">See all <i class="fa-solid fa-arrow-right"></i></a>
                </div>
            
                <div class="footerMainOther">
                    <span>Other</span>
                    <a href="/projects">Projects</a>
                    <a href="/about">About Us</a>
                    <a href="/contact" class="footerHovers">Get in touch <i class="fa-solid fa-arrow-right"></i></a>
                </div>
            
                <div class="footerMainFeatured">
                    <span>Featured</span>
                    <div>
                        <img src="https://res.cloudinary.com/dn30aabyv/image/upload/v1678116871/qbvjqttvzncxsgogknic.jpg" alt="">
                        <p>
                            <a href="" class="footerFeaturedBold">Modern House, Bilbao<i class="fa-solid fa-arrow-right hidden"></i></a>
                            <br>
                            This elite beach house located on the coast of sunny Bilbao (Spain).
                        </p>
                    </div>
                </div>
            
            </section>
            <section class="footerInfo">
                <div>
                    <p>@ 2021 Right Angle Studio, all rights reserved.</p>
                </div>
            
                <div>
                    <ol class="footerOl">
                        <li class="footerOlBorder"><a href="">Legal terms</a></li>
                        <li class="footerOlBorder"><a href="">Terms of service</a></li>
                        <li><a href="">Privacy policy</a></li>
                    </ol>
                </div>
            
                <div class="lastFI">
                    <p><span>123,133,666</span> virtual square feet rendered</p> 
                    <img class="footerInfoImg" src="https://res.cloudinary.com/dn30aabyv/image/upload/v1668728513/only-logo_ceberg.png" alt="">
                </div>
            </section>
        </footer>

        <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
        <script src="/js/main.js"></script>
        <script src="/js/mail.js"></script>
    </body>
</html>