<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="icon" href="https://res.cloudinary.com/dn30aabyv/image/upload/v1668728513/only-logo_ceberg.png">

        <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">

        <script src="https://kit.fontawesome.com/855e3f5928.js" crossorigin="anonymous"></script>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap" rel="stylesheet"> 

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap" rel="stylesheet">  

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet"> 


    	<link rel="stylesheet" href="/css/home.css">
        <link rel="stylesheet" href="/css/footer.css">
        <link rel="stylesheet" href="/css/reset.css">
        <link rel="stylesheet" href="/css/about.css">        
        <link rel="stylesheet" href="/css/contact.css">        
        <link rel="stylesheet" href="/css/projects.css">        
        <link rel="stylesheet" href="/css/services.css">

        <title>Right Angle Studio</title>
    </head>
    <body>
        <header class="header">
            <ol class="headerListOne">
                <li class="headerLi"><a href="/">Home</a></li>
                <li class="headerLi"><a href="/Projects">Projects</a></li>
                <li class="headerLi"><a href="/Services">Services</a></li>
                <li class="headerLi"><a href="/About">About Us</a></li>
                <li class="headerLi"><a href="/Contact">Contact</a></li>
            </ol>
            <ol class="headerListTwo">
                <img src="https://res.cloudinary.com/dn30aabyv/image/upload/v1668728513/logo_qiouhc.png" alt="logo">
                <button class="main-btn" onclick="window.location.href='/Contact'">Get in touch</button>
            </ol>   
        </header>
    </body>
</html>