<%- include('partials/header') -%>

<section id="about">
    <img src="https://res.cloudinary.com/dn30aabyv/image/upload/v1668728513/only-logo_ceberg.png" alt="only-logo">
    <h1>About Right Angle</h1>
    <p>Creativity is rarely a solitary exercise. The social cohesion of the team is as fundamental to the success of the<br>
        studio as the ever broadening and deepening techincal and artistic skill set. Be it lunchtime, gym sessions, days<br>
        out in London, trips abroad to international conferences or just a few drinks in the local, the team is everything.</p>
    <p class="helpLink"><a href="#">See how can we help<i class="fa-solid fa-arrow-right"></i></a></p>
</section>

<section class="about-architects">
    <div class="aa-header">
        <h2>The Architects</h2>
    </div>

    <div class="aa-info">
        <div>
            <img src="https://res.cloudinary.com/dn30aabyv/image/upload/v1669989349/about_profile_two_ygopbk.jpg" alt="">
            <h3>Jelena Stefanovic</h3>
            <span>Efficient Zoki Yard Remover</span>
            <p>
                Jecka has studied at the Welsh School of Architecture<br>
                in Cardiff, graduating with a first class BSc (Hons)<br>
                degree in 2005. She continued her studies in Cardiff and<br>  
                was awarded Distinction in her Diploma of Architecture.<br>
                One more sentence about something that somehow<br>
                goes in 3 rows for some reason.
            </p>
            <ul>
                <li><a href="https://www.linkedin.com/in/jelena-stefanovic-14628674/"><i class="fa-brands fa-linkedin"></i></a></li>
                <li><a href="https://www.behance.net/jelenastefanovic"><i class="fa-brands fa-square-behance"></i></a></li>
            </ul>
        </div>

        <div>
            <img src="https://res.cloudinary.com/dn30aabyv/image/upload/v1669989350/about_profile_one_bhywpk.jpg" alt="">
            <h3>Cobiszka Cvelovski</h3>
            <span>Grafička 50$ Specialist</span>
            <p>
                Jecka has studied at the Welsh School of Architecture<br>
                in Cardiff, graduating with a first class BSc (Hons)<br>
                degree in 2005. She continued her studies in Cardiff and<br>  
                was awarded Distinction in her Diploma of Architecture.<br>
                One more sentence about something that somehow<br>
                goes in 3 rows for some reason.
            </p>
            <ul>
                <li><a href=""><i class="fa-brands fa-linkedin"></i></a></li>
                <li><a href=""><i class="fa-brands fa-square-behance"></i></a></li>
            </ul>
        </div>
    </div>
    
</section>

<section class="mini-contact">
    <div>
        <p><span>Ready to start?</span> Let's create something amazing!</p>
    </div>
    <div class="mc-btn">
        <button class="mc-btn-one" onclick="window.location.href='/Contact'">Contact Us</button>
        <button class="mc-btn-two">Check out our services</button>  
    </div>
</section>

<%- include('partials/footer') -%>