<%- include('partials/header') -%>

<section id="services">
    <h1>
        Our goal is to evoke<br>
        <span>emotion through imagery</span>
    </h1>
    <p>
        In the constantly evolving space of digital media and graphic representation, we founded Right Angle Studio on<br>
        the principle of continued evolution of services maintaining a position at the forefront of the industry. This<br>
        current snapshot of our services is presented with the caveeat that tomorrow's technology will always drive the<br>
        direction of our endeavours, because times change...
    </p>
</section>

<%- include('partials/footer') -%>