<%- include('partials/header') -%>

<section id="services" class="services">
    <h1>
        Our goal is to evoke<br>
        <span>emotion through imagery</span>
    </h1>
    <p>
        In the constantly evolving space of digital media and graphic representation, we founded Right Angle Studio on<br>
        the principle of continued evolution of services maintaining a position at the forefront of the industry. This<br>
        current snapshot of our services is presented with the caveeat that tomorrow's technology will always drive the<br>
        direction of our endeavours, because times change...
    </p>
</section>
<section class="service-main">
    <div class="service">
        <div class="service-info">
            <h2>Architectural Rendering</h2>
            <span>INTERIOR + EXTERIOR</span>
            <p>Ovde nam klijantela vezana strikno za za arhitektonske tipove rendera, gde se rade ekterijeri/enterijeri objekata koji su u fazi planiranja/izgradnje pa su im potrebni konceptualni renderi za reklamu/prodaju i slicno. Ovde spadaju arhitektonski biroi, real estate osobe koje kupuju/renoviraju/prodaju stanove, staracke domove, kafice, restorane i slicno.</p>
            <button class="service-btn-one">See projects<i class="fa-solid fa-arrow-right"></i></button>    
        </div>
        <div class="service-img">
            <img src="https://res.cloudinary.com/dn30aabyv/image/upload/v1678883462/service_1_bwvh1p.png" alt="">
        </div>            
    </div>
    <div class="service">
        <div class="service-img">
            <img src="https://res.cloudinary.com/dn30aabyv/image/upload/v1678883462/service_2_o0zgi0.png" alt="">
        </div>
        <div class="service-info">
            <h2>Virtual 360 Tours</h2>
            <span>INTERIOR + EXTERIOR</span>
            <p>Ovde nam klijantela vezana strikno za za arhitektonske tipove rendera, gde se rade ekterijeri/enterijeri objekata koji su u fazi planiranja/izgradnje pa su im potrebni konceptualni renderi za reklamu/prodaju i slicno. Ovde spadaju arhitektonski biroi, real estate osobe koje kupuju/renoviraju/prodaju stanove, staracke domove, kafice, restorane i slicno.</p>
            <button class="service-btn-two">Preview our projects in VR<i class="fa-solid fa-arrow-right"></i></button>  
        </div>        
    </div>
    <div class="service">
        <div class="service-info">
            <h2>Product Rendering</h2>
            <span>INTERIOR + EXTERIOR</span>
            <p>Ovde nam klijantela vezana strikno za za arhitektonske tipove rendera, gde se rade ekterijeri/enterijeri objekata koji su u fazi planiranja/izgradnje pa su im potrebni konceptualni renderi za reklamu/prodaju i slicno. Ovde spadaju arhitektonski biroi, real estate osobe koje kupuju/renoviraju/prodaju stanove, staracke domove, kafice, restorane i slicno.</p>
            <button class="service-btn-three">See them in space<i class="fa-solid fa-arrow-right"></i></button>  
        </div>
        <div class="service-img">
            <img src="https://res.cloudinary.com/dn30aabyv/image/upload/v1678883462/service_3_fvyykw.png" alt="">
        </div>        
    </div>
</section>
<section id="faq" class="faq">
    <h2>Frequently asked questions</h2>

    <div class="question">
        <div class="question-grp">
            <p class="faq-p">How soon can I expect a response from you?</p>
            <span class="spanClick">+</span>
        </div>
        <p class="hidden">That's great to hear! To contact us, you can either follow the "Get in touch / Contact us" link from on of the Services you would like for us to work on, or you can use the "Contact Us" form on the bottom of this page.</p>
    </div>

    <div class="question">
        <div class="question-grp">
            <p class="faq-p">I am interested in acquiring your services- how do I proceed?</p>
            <span class="spanClick">+</span>
        </div>
        <p class="hidden">That's great to hear! To contact us, you can either follow the "Get in touch / Contact us" link from on of the Services you would like for us to work on, or you can use the "Contact Us" form on the bottom of this page.</p>
    </div>

    <div class="question">
        <div class="question-grp">
            <p class="faq-p">What is the difference between Simple & Advanced contact form?</p>
            <span class="spanClick">+</span>
        </div>
        <p class="hidden">That's great to hear! To contact us, you can either follow the "Get in touch / Contact us" link from on of the Services you would like for us to work on, or you can use the "Contact Us" form on the bottom of this page.</p>
    </div>

    <div class="question">
        <div class="question-grp">
            <p class="faq-p">I am interested in acquiring your services- how do I proceed?</p>
            <span class="spanClick">+</span>
        </div>
        <p class="hidden">That's great to hear! To contact us, you can either follow the "Get in touch / Contact us" link from on of the Services you would like for us to work on, or you can use the "Contact Us" form on the bottom of this page.</p>
    </div>
</section>
<section id="moreQuestions" class="moreQuestions">
    <h2>Still have questions?</h2>
    <p>
        If you have a question that hasn't been covered in our FAQ, feel free to contact us<br>   
        at <span>info@rightanglestudio.com</span> and we will try to get back to you as soon as possible.
    </p>
</section>
<section class="service-projects">
    <div class="sp-div sp-info">
        <h3>Our Projects</h3>
        <a href=""><span>All projects<i class="fa-solid fa-arrow-right"></i></span></a>
    </div>
    <div class="sp-div sp-images">
        <div>
            <a href=""><img src="https://res.cloudinary.com/dn30aabyv/image/upload/v1678116970/yfv0hxqmtj6cahsqaurk.jpg" alt=""></a>
            <h4>Modern Family House</h4>
            <span>San Diego, CA</span>
        </div>
        <div>
            <a href=""><img src="https://res.cloudinary.com/dn30aabyv/image/upload/v1678116970/yfv0hxqmtj6cahsqaurk.jpg" alt=""></a>
            <h4>Modern Family House</h4>
            <span>San Diego, CA</span>            
        </div>
        <div>
            <a href=""><img src="https://res.cloudinary.com/dn30aabyv/image/upload/v1678116970/yfv0hxqmtj6cahsqaurk.jpg" alt=""></a>
            <h4>Modern Family House</h4>
            <span>San Diego, CA</span>
        </div>
    </div> 
    <div class="sp-btn">
        <button>See all of our projects<i class="fa-solid fa-arrow-right"></i></button>
    </div>
</section>
<%- include('partials/footer') -%>