html{
    font-size: 62.5%;
}
footer{
    display: flex;
    flex-direction: column;
    padding: 0 10vw !important;
    background-color: white;
    box-shadow: 0 0 20vw 5vw white;
}
.footer span{
    font-family: Poppins, sans-serif;
    font-weight: 500;
}
.footerBtn{
    border: 2.1px solid #207792;
    border-radius: 2.5px;
    margin-bottom: 2.5vw;
}
.footerBtn button > i{
    color: #207792;
    font-size: 1.3vw
}
.footerBtn button{
    height: 2.8vw;
    width: 2.8vw;
    border: 3.5px solid #207792;
    border-radius: 1.9vw;
    background-color: white;
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    animation: 0.5s pop-out;
    transition: 0.5s;
}
.footerBtn button:hover{
    background-color:#207792;
    transition: 0.5s;
    cursor: pointer;
}
.footerBtn button:hover i{
    color: white; 
    transition: 0.5s;
}
.footerBtn button:active{
    background-color: white;
    transition: 0s;
}
.footerBtn button:active i{
    color: #207792;
    transition: 0s;
}
@keyframes pop-out{
    from{
        bottom: 5rem;
    }to{
        bottom: 2rem;
    }
}
.hidden {
    display: none;
}
.footerMain{
    display: flex;
    justify-content: space-between;
    padding: 0 1.5vw;
    border-bottom: 2px dashed rgb(70, 70, 70);
}
.footerMain > div{
    display: flex;
    flex-direction: column;
}
.footerMainLogo{
    font-size: 0.9vw;
    width: 18%;
}
.footerMainLogo > *{
    margin-bottom: 2vw;
}
.footerMainLogo > p {
    line-height: 1.5vw;
    text-align: justify;
    hyphens: auto;
}
.footerMainLogo img{
    width: 9.2vw;
}
.footerMain span{
    font-size: 1vw;
    font-weight: 1000;
}
.footerIcons{
    font-size: 1.5vw;
    display: flex;
    width: 70%;
    justify-content: space-between;
}
.footerMainServices{
    line-height: 2vw;
}
.footerMainServices, .footerMainOther{
    font-size: 0.85vw
}
.footerMainServices a, .footerMainOther a{
    color: #777777;
}
.footerMainOther{
    line-height: 2vw;
}
.footerMainFeatured{
    width: 35%;
    padding-top: 0.5vw;
}
.footerMainFeatured span{
    margin-bottom: 0.5vw;
}
.footerMainFeatured > div{
    display: flex;
    align-items: center;
    margin-bottom: 1vw;
    transition: 0.5s;
}
.footerMainFeatured > div p{
    font-size: 0.8vw;
    padding: 0.5vw 1.5vw;
    padding-bottom: 1vw;
    color:rgb(70, 70, 70);
}
.footerFeaturedBold{
    font-size: 0.9vw;
    color: black;
    font-weight: 500;
}
.footerMainFeatured i {
    color: transparent;
    margin-left: 0.5vw;
    transition: 0.5s
}
.footerMainFeatured > div p > a {
    line-height: 2vw;
}
.footerMainFeatured img{
    width: 10vw;
}
.footerMainFeatured > div:hover a, .footerMainFeatured > div:hover i{
    color: #207792;
    transition: 0.5s
}
.footerMainFeatured > div:hover{
    box-shadow: 0 0 0.5vw 0.5vw rgba(0, 0, 0, 0.082);
    transition: 0.5s;
    cursor: pointer;
}
.footerInfo{
    height: 3vw;
    justify-content: space-around;
    align-items: center;
    margin-top: 0.5vw;
    font-size: 0.85vw;
}
.footerInfo > div{
    width: 30%;
}
.footerOl{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}
.footerOlBorder{
    border-right: 1px solid black;
}
.footerOl li{
    text-align: center;
    width: 33%;
}
.footerInfoImg{
    width: 5%;
}
.footerInfo{
    display: flex;
}
.lastFI{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: end;
    height: 1.5vw;
}
.lastFI p{
    margin-right: 0.5vw;
}
.lastFI p > span{
    font-weight: 1000;
}
/* footer a:hover{
    border-bottom: 0.05vw solid #777777;
} */