:root {
    --torquise: #207792;
    --torqHover: #0F5C74;
  }
*{
    box-sizing: border-box;
    /* scrollbar-color: #207792 rgb(215, 215, 215); */
    scrollbar-width: thin;
}
html{
    
    font-size: 62.5%;
    font-family: 'Manrope', sans-serif !important;
    overflow-x: hidden;
}
body{
    
    background-image: url(../images/new-grid.png);   /* 'https://res.cloudinary.com/dn30aabyv/image/upload/v1668728513/new-grid_noxebo.png' */
    background-size: 470px;
    background-repeat: repeat;
    width: 1440px;
    margin: 0 auto !important;
    
}
/* html,body{
 scrollbar-color: #207792 rgb(222, 222, 222) !important;
} */

/*   HEADER     */
a{
    text-decoration: none;
    font-weight: 500;
}
a:active, a:focus, a:visited {
    text-decoration: none;
    color: black;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100vw;
    margin: 0 auto;
    height: 100px;
    left: 0;
    overflow: visible;
    z-index: 1000;
    /* transition: background 0.2s ease-in-out; */
}
.header ol{
    display: flex;
    justify-content: space-between;
    margin: auto 206px auto 206px;
    width: 476px;
    font-size: 16px;
}
.header  img{
    height: 38px;
    margin: auto 0;
    transition: 0.3s 
}
.header  img:hover{
    cursor: pointer;
    transform: scale(1.15);   
    transition: 0.3s 
}
.main-btn{
    cursor: pointer;
    margin: auto 0;
    width: 152px;
    height: 48px;
    background: var(--torquise);
    border-radius: 4px;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    font-weight: 500;
    color: white;
    transition: 2s;
    padding-left: 16px;
    border: none;

}
.main-btn i{
    transition: 1s;
    color: transparent
}
.main-btn:hover{
    background-color: var(--torqHover);
}
.main-btn:hover i{
    color: white;
    margin-left: 11px;
    margin-right: 10px;
    transition: 1s;
}
.headerLi{
    display: inline-block;
    position: relative;
    cursor: pointer;
}
.headerLi:after{
    content: '';
    position: absolute;
    width: 25%;
    transform: scaleX(0);
    height: 2px;
    bottom: -25%;
    left: 25%;
    background-color: #000000;
    transform-origin: bottom right;
    /* transition: transform 0.25s ease-out; */
}
.headerLi:hover:after {
    transform:  scaleX(2);
    transform-origin: bottom left;
    transition: 0.5s;
} 

/* MAIN SECTION */

main{
    position: absolute;
    top: 12vh;
    /* border: 2px solid black; */
    height: 500px;
} 
.main-carousel > div {
    height: 85vh;
}
.main-carousel img{
    filter: grayscale(100%);
    height: 500px;
    width: 1000;
    border-radius: 8px;
}
.is-selected img{
    filter: none;
}
.carousel-cell { 
    margin-right: 30vw; 
    display: flex;
    flex-direction: row;
    width: 65vw;
}
.flickity-button{
    display: hidden;
}
.homeMainText{
    position: absolute;
    height: 90vh;
    width: 300px;
    left: -45%;
    top: 0%;
    z-index: 10;
}
.homeMainText h1{
    text-align: start;
    padding-top: 17vh;
    font-size: 7.5vh;
    font-weight: 1000;
    padding-left: 40px;
    padding-right: 40px;
}

.homeMainText p{
    text-align: start;
    font-size: 1vw;
    color: rgb(63, 63, 63);
    line-height: 1.7vw;
    margin-top: 2vw;
    padding-left: 40px;
    padding-right: 40px;
}
.flickity-page-dots{
    left: -39%;
    top: 90%;
    z-index: 11;
}
.flickity-page-dots .dot.is-selected {
    opacity: 1;
    background: var(--torquise);
  }
.secondary-btn{
    cursor: pointer;
    margin-left: 40px;
    height: 4vw;
    width: 9.5vw;
    border-radius: 0;
    border: 0;
    background-color: var(--torquise);
    font-size: 1.1vw;
    color: white;
    margin-top: 3vw;
}

/* INFO SECTION */

main + section{
    margin-top: 12vw;
    height: 30vw;
    padding: 0 18vw;
}
main + section img{
    width: 3.5vw;
    display: flex;
    justify-content: center;
    margin: 5vw auto 0 auto;
}
main + section h2{
    font-size: 2.5vw;
    text-align: center;
    margin-top: 1.5vw;
    margin-bottom: 2.5vw;
    font-weight: 400;

}
main + section h2:after{
    content: '';
    position: absolute;
    width: 20vw;
    transform: scaleY(1);
    height: 1.3vw;
    top: 125%;
    left: 40%;
    background-color: #e6f3ff;
    transform-origin: bottom right;
    z-index: -1;
}
main + section p{
    font-size: 1.1vw;
    text-align: center;
    line-height: 1.7vw;   
}
main+ section a{
    text-align: center;
    text-decoration: none;
    color: var(--torquise);
    font-weight: 1000;
}
.helpLink{
    margin-top: 1.8vw;
}
main + section p > a > i{
    margin-left: 0.5vw;
    font-size: 0.9vw;
}

/*  FAVOURITES  SECTION  */

.homeFavourites{
    display: flex;
    flex-direction: column;
    padding: 0 12vw;
}
.favFlex{
    display: flex;
    justify-content: space-between;
}
.favArrow{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}
.favHover:hover img, .favHover:hover i{
    filter: none;
    transform: scale(1.1, 1.1);
    color: black;
    cursor: pointer;
    
}
.favImg:hover{
    box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.404);
    transition: 0.5s;
}

/*___________1___________*/

.homeFavouritesHeader{
    margin-bottom: 3rem;
}
.homeFavouritesHeader h2{
    font-size: 3rem;
}
.homeFavouritesHeader h2:after{
    content: '';
    position: absolute;
    width: 26.5%;
    transform: scaleY(1);
    height: 1.4vw;
    top: 174%;
    left: 12%;
    background-color: #e6f3ff;
    transform-origin: bottom right;
    z-index: -1;
}
.homeFavouritesHeader a{
    font-size: 1.5rem;
    padding-top: 0.5rem;
}

/*___________2___________*/

.favPairOne{
    height: 35vw;
}
.homeFavourites img{  
    filter: grayscale(100%);
    transition: 1s;
    height: 100%;
}
.favPairOne > div{
    width: 50vw;
}
.favImg{
    overflow: hidden;
    height: 30vw;
    transition: 0.5s;
}
.homeFavourites i{
    padding-top: 0.5rem;
    color: transparent;
    transition: 1s;
}
.homeHoverOne  + div{
    width: 20vw;
    
}
.homeFavourites i{
    color: transparent;
}

/*___________3___________*/

.soloOne{
    height: 35vw;
}
.soloOne h3 span{
    font-size: 6vw;
}
.soloOne h3{
    padding-top: 1vw;
    font-size: 3vw;
    width: 16vw;
}
.soloOne > div {
    display: flex;
    flex-direction: column;
    width: 50vw;
}

/*___________4___________*/

.carousel{
    position: none;
    width: 100vw;
    margin-left: -12vw;
    height: 22.7vw;
    background-color: #F2F9FF;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 9vw;
    margin-top: 8.5vw;
}
.carousel h2{
    font-size: 2.5vw;
    text-align: center;
    font-weight: 1000;
    
}
.carousel p{
    color: #207792;
    font-size: 1vw;
    font-weight: 1000;
    margin-top: 0.5vw;
}
.text-carousel{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5vw;
    width:75vw;
}
.carousel .flickity-page-dots{
    left: 0;
    top: 80%;
}
.carousel .flickity-page-dots .dot.is-selected {
    opacity: 1;
    background: #207792;
  }

/* __________5___________*/

.favPairTwo{
    height: 35vw;
}
.favPairTwo > div {
    width: 45vw;
}
.favPairTwo > div + div{
    width: 25vw;
    height: 25vw
}
.favPairTwo > div + div > .favImg{
    height: 25vw
}

/*___________6___________*/

.soloTwo{
    margin-bottom: 1rem;
}
.soloTwo > .favImg{
    width: 35vw;
}
.soloTwo div + div{
    width: 40vw;
    padding: 1vw 3vw;
}
.soloTwo h3{
    font-size: 2vw;
    line-height: 3vw;
}
.soloTwo p{
    margin: 0.6vw 0;
    font-size: 0.65vw;
    color: #207792;
}
.soloTwo a{
    font-weight: 1000;
    font-size: 1.3rem;
}


/*  CONTACT FORMA  */

#homeContact{ /*container cele forme */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 942px;
    height: 763px;
    margin: 0 auto;
}
.homeContactInfo{
    height: 94px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    margin-bottom: 24px;
}
.homeContactInfo h2{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.01em;  
}
.homeContactInfo p{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #6C757D;
}
.homeContactLetter{
    display: flex;
    height: 621px;
    background: #FFFFFF;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.05);
}
.contact-home-left{  /*glavna dva boxa*/
    display: flex;
    flex-direction: column;
    width: 346px;
    background-image: url(../images/Render_9.png);
    background-repeat: no-repeat;
    background-size: cover;
    
    border-radius: 8px 0 0 8px;
}
.contact-home-left h3{
    font-size: 35px;
    font-family: 'Lora', serif;
}
.contact-home-right{
    display: flex;
    width: 596px;
    max-width: 596px;
    background-color: white;
    padding: 48px 32px;
}   
.contact-home-right form{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.countries{
    scrollbar-width: thin;
    background: #f8f8f8;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    background: transparent;
    background-image: url(../images/chevron-down-solid.svg);
    background-repeat: no-repeat;
    background-position-x: 93%;
    background-position-y: 50%;
    background-size: 12px;
    cursor:pointer;
    overflow: hidden;font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    padding-left: 1vw;
    border: 0.5px solid #6C757D;
    border-radius: 4px;
    padding: 12px;
}
/* .countries:invalid, #homeContact input:invalid, textarea:invalid{
    color: #ADB5BD;
} */
#homeContact input:placeholder-shown, .countries:invalid, textarea:placeholder-shown{
    color: #ADB5BD;
}
.input-field{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 256px;/* 
    margin-bottom: 20px; */
}
.full-name, .email-phone, .country-section{
    display: flex;
    justify-content: space-between;
    height: 74px;
    margin-bottom: 20px;
}
.message{
    margin-bottom: 32px;
}
.message, .privacy-policy-text{
    display: flex;
    flex-direction: column;
    height: 74px;
}
.message label{
    margin-bottom: 12px;
}
#homeContact input{
    border: 0.5px solid #6C757D;
    color: black;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    padding-left: 1vw;
    border: 0.5px solid #6C757D;
    border-radius: 4px;
    padding: 12px;
}
#homeContact input:focus{
    border: none;
    transform: none;
}
#homeContact label{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.01em;
    /* margin-bottom: 12px;
    margin-top: 20px; */
}
.full-name div, .email-phone div, .country-section div{
    display: flex;
    flex-direction: column;
}
textarea{
    box-sizing: border-box;
    resize: none;
    height: 46px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    border: 0.5px solid #6C757D;
    border-radius: 4px;
    padding: 12px;
}
.privacy-policy-text p{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.01em;
}
.privacy-policy-text p > a{
    color: #207792
}
.privacy-policy-text p + p{
    margin-top: 10px;
    color: #6C757D;
    mix-blend-mode: normal;
    opacity: 0.7;
}
.privacy-policy-text p + p > span{
    color: #E2774F
}
textarea:focus, input:focus{
    outline: 0.5px solid #6C757D;
}
form span{
    color: red;
}
.contact-btn{
    padding: 12px 0 12px 14px;
    width: 113px;
    height: 48px;
    background: #207792;
    border-radius: 4px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.01em;
    color: #ffffff;
    border: none;
    margin-top: 14px;
    cursor: pointer;
}
.contact-btn i{
    color: transparent;
    
    transition: 1s;
}
.contact-btn:hover i{
    color: white;
    margin-left: 11px;
    margin-right: 10px;
    transition: 1s;
}
/*   SERVICES   */

#service-types{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vw;
    background: linear-gradient(111.33deg, #EAFBFF -11.49%, #FEF5FF 100.6%);
    margin: 10vw 0;
    padding-top: 8vw;
}
.service-title{
    font-size: 2.5vw;
    text-align: center;
    font-family: Poppins, sans-serif;
}
.service-title span{
    color: #207792;
}
.service-div{
    display: flex;
    justify-content: space-between;
    width: 58vw; 
    margin-top: 5vw;  
}
.service-div + .service-div{
    margin-top: 8vw;
}
.solo-service{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.solo-service img{
    width: 9vw; 
    margin-bottom: 0.8vw;
}
.solo-service h3{
    font-size: 1.7vw;
    font-weight: 1000;
    font-family: Poppins, sans-serif;
}
.solo-service p{
    font-size: 1.15vw;
    margin-top: 1.2vw;
}
.solo-service a{
    font-size: 1.15vw;
    margin-top: 2.5vw;
    color: #207792;
    font-weight: 1000;
    border-bottom: 2px solid transparent;
}
.solo-service a:hover{ 
    border-color: #207792;
    transition: 0.5s;
}
.solo-service a:hover i{
    color: #207792;
}
.solo-service i{
    color: transparent;
    transition: 0.5s;
}
.btn-link{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btn-link button{
    cursor: pointer;
    margin-right: 1.5%;
    height: 4.3vw;
    width: 17vw;
    border-radius: 0;
    border: 0;
    background-color: #207792;
    font-size: 1.2vw;
    font-weight: 500;
    color: white;
    margin-top: 9vw;
    margin-bottom: 2vw;
}
.btn-link i, .btn-link a{
    font-size: 1vw;
    font-weight: 1000;
    color: #6c6e6e;
    transition: 0.5s;
    border-bottom: 2px solid transparent;
}
.btn-link i{
    color: transparent;
}
.btn-link a:hover{
    border-color: #6c6e6e;
    transition: 0.5s;
}
.btn-link a:hover i{
    color: #6c6e6e;
}

/*_________________________________________________________*/

/* #carousel-container {
	width: 2000px;
	height: 85vh;
	position: absolute;
    top: -5%;
    left: 35vw;
	margin: 50px 0 0;
}

#carousel-container > div:first-child {
	overflow: hidden; 
	width: 100%;
	margin: 0;
}
#carousel img{
	height: 85vh;
    width: 1400px;
    margin-left: 600px;
}

#carousel {
	position: relative;
    top: 0;
	width: 600px;
	height: 85vh;
    padding: 0;
    margin: 0;
}

.animate{
	-webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
}

.slide {
    list-style: none;
	position: relative;
	float: left;
	transform: translateX(-65vw)
}

#controls{
	position: absolute;
    width: 1120px;
	top: calc( 50% - 25px);
	margin: 0 -60px;
}

#controls span {
	width: 50px;
	cursor: pointer;
	opacity: 0.4;
}

#controls span:hover {
	opacity: 1;
}

#prev {
	float: left;
}

#next {
	float: right;
} */