html{
    font-size: 62.5%;
    font-family: 'Inter', sans-serif !important;
    font-weight: 20 !important;
}
body{
    background-image: url('https://res.cloudinary.com/dn30aabyv/image/upload/v1666377360/images/new-grid_uchywd.png');
    background-size: 900px;
    background-repeat: repeat;
    
}


/*   HEADER     */
a{
    text-decoration: none;
}

a:active, a:focus, a:visited {
    text-decoration: none;
    color: black;
}
.header{
    display: flex;
    justify-content: space-around;
    position: fixed;
    top: 0;
    width: 100%;
    height: 120px;
    z-index: 1000;
    background-color: white;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.114);
}
.headerListOne{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 36%;
    font-size: 23px;
    margin-left: 8%;
}
.headerListTwo{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 40%;
    margin-right: 10%;
}
ol > img{
    width: 188px;
    margin-right: 55px;
}
ol > button{
    cursor: pointer;
    margin-right: 1.5%;
    height: 84px;
    width: 231.5px;
    border-radius: 0;
    border: 0;
    background-color: #207792;
    font-size: 25px;
    color: white;

}
.headerLi{
    display: inline-block;
    position: relative;
    cursor: pointer;
}
.headerLi:after{
    content: '';
    position: absolute;
    width: 25%;
    transform: scaleY(0);
    height: 2px;
    bottom: -25%;
    left: 35%;
    background-color: #000000;
    transform-origin: bottom right;
    /* transition: transform 0.25s ease-out; */
}
.headerLi:hover:after {
    transform: scaleY(1);
    transform-origin: bottom left;
} 

/* MAIN SECTION */

main{
    position: absolute;
    top: 120px;
    border: 2px solid black;
    height: 850px;
} 

/* INFO SECTION */

main + section{
    height: 730px;
    padding: 0 390px;
}
main + section img{
    width: 70px;
    display: flex;
    justify-content: center;
    margin: 130px auto 0 auto;
}
main + section h2{
    font-size: 3.1rem;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 67px;

}
main + section h2:after{
    content: '';
    position: absolute;
    width: 20%;
    transform: scaleY(1);
    height: 23px;
    top: 126.8%;
    left: 40%;
    background-color: #e6f3ff;
    transform-origin: bottom right;
    z-index: -1;
}
main + section p{
    font-size: 1.6rem;
    text-align: center;
    line-height: 2rem;
    
}
main+ section a{
    text-align: center;
    text-decoration: none;
}
.helpLink{
    margin-top: 2rem;
}
main + section p > a > i{
    margin-left: 0.7rem;
    font-size: 1rem;
}

.main-carousel > div {
    height: 850px;
}

.main-carousel img{
    height: 850px;
    margin-left: 6.5vw;
}
.carousel-cell { 
    margin-right: 15vw; 
    display: flex;
    flex-direction: row;
    width: 80vw;
}
.homeMainText{
    position: absolute;
    height: 850px;
    width: 20vw;
    left: -10vw;
}
.homeMainText h1, .homeMainText p{
    height: 850px;
}
